<p id="notice"><%= notice %></p>
<a href="/13_sapielak/neuroscience/news/" style="text-decoration: none;"><div class="jumbotron"><h1>Neuronowiny</h1></div></a>
<div class="well well-lg">
<h2>Edytuj nowinkę</h2>

	<%= render 'form' %>
</div>

<%= link_to 'Pokaż', @news, :class=>"button" %> |
<%= link_to 'Powrót', news_index_path, :class=>"button" %>
<br>
<br>
