<p id="notice"><%= notice %></p>
<a href="/13_sapielak/neuroscience/o_witrynie"><div class="jumbotron"><h1>Informacje o serwisie</h1></div></a>
<br>
<div class="panel panel-info">
<div class="panel-heading">
		<div class="panel-title" >O serwisie </div></div>
	<div class="panel-body" style="min-height:10cm; font-size: 14pt; line-height: 21pt">

Autorem niniejszego serwisu jest <b>Barbara Sapielak </b>.
Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji) na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego, przygotowanej pod kierunkiem <b> prof. dr. hab. Jerzego Koniora</b>.
<br> <br> Animowany gif, który stanowi tło dla tytułów pochodzi ze strony z witryny <a href= "http://xcell2.com/older%20older%20stuff/old-website/products/neurons-psc/neurons.html" >www.xcell2.com. </a> Jego autorem jest <b>Dr. Ying Pei </b>. 

	</div>
</div>
